<div class="jumbotron jumbotron-fluid">
  <div class="container" id="container-jumbotron">
    <h1 id="title" class="display-3">YOU</h1>
    <h2 >Shop</h2>
    <h2 >Get</h2>
    <h2 >Save</h2>
    <h1  id="footer" >More.</h1>
  </div>
</div>